# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\Phillip\Nextcloud\Documents\UQ_Work\Y2\S2\COMP3506\Assignments\a4_COMP3506\a4_COMP3506_code\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
